/* Grundstyle för hela hemsidan */
body {
  margin: 0; /* Tar bort standardmarginal på webbläsaren */
  font-family: Verdana, sans-serif; /* Typsnitt för all text */
  color: black; /* Färg för all text */
}

ul.main-menu{ 

list-style-type: none;
margin-top: 12px; /* Mellanrum ovanför */
padding: 10px; /* Padding i rutan */
display: flex; /* Gör att länkarna hamnar på samma rad */
gap: 30px; /* Mellanrum mellan länkarna */
font-size: large;
text-decoration: none; 
}
ul.main-menu>li{
  position: relative;
}



ul.main-menu>li>ul{
display: none;
list-style-type: none; 
position: absolute;
padding-left: 0;
margin-top: 0;
margin-left: 0;
top: 100%;
left: 0; 
background-color: white;
font-size:medium;
font-weight: normal;

}

ul.main-menu >li:hover >ul{
display: block;
}
ul.main-menu a{
  text-decoration: none;
  color: black;
  
}

ul.main-menu > li > a {
  font-weight: bold;
}

ul.main-menu > li > ul a {
  font-weight: normal;
  font-size: small;
  
}

ul.main-menu > li > a:hover {
  color: rgb(241, 105, 14);
}

ul.main-menu > li > ul > li > a:hover {
color: rgb(241, 105, 14);
}


/* container skapar en "ruta" med max 980px bredd */
.container {
  max-width: 980px; /* Max 980px bredd */
  margin: 0 auto; /* Centrerar containers på sidan */
  padding: 16px; /* Padding inuti rutan */
  background-color: white; /* Vit bakgrund */
}

/* Facebook-bild */
#facebook {
  width: 120px;
  height: auto;
}
/* Tabell (om du har t.ex. <table id="tabell2"> ) */
#tabell2 {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse; /* snyggare tabell */
}

/* Gör så att celler också får ramar (valfritt men ofta önskat) */
#tabell2 th,
#tabell2 td {
  border: 1px solid black;
  padding: 8px;
}

/* Karta (om du har t.ex. <iframe id="map"> ) */
#map {
  width: 100%;
  height: 400px;
  border: 0;
}

/* Header */
header {
  display: flex; /* Gör att loggan och namnet hamnar på samma rad */
  align-items: center; /* Centrerar logga och text vertikalt */
}

/* Loggan */
header img {
  width: 200px; /* Bredd */
  height: auto;
}

/* Namnet SPL Datorer */
header h1 {
  font-style: italic; /* Kursiv */
  font-size: 32px; /* Storlek (måste ha px) */
  margin-left: 20px; /* Marginal vänster */
}






/* Styling på sektionen där objektlistan är */
.objektlista {
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px 0;
  border-radius: 6px;
}

/* Styling på listan */
.objektlista ul {
  list-style: none; /* Tar bort punkten */
  padding: 0;
  margin: 0;
}

/* Skapar marginal till rubrik */
.objektlista h3 {
  margin-top: 50px;
}

.objektlista h3 a {
  text-decoration: none;
  color: black;
}

.objektlista h3 a:hover {
  color: rgb(241, 105, 14);
}



/* Hover på alla länkar */
a:hover {
  color: rgb(241, 105, 14);
}

/* Standardutseendet på en "dator"-ruta (class="dator") */
.dator {
  width: 100%;
  height: 400px; /* bilderna lika stora */
  object-fit: cover;
  border: 1px solid lightgrey; /* kortare och korrekt */
  border-radius: 5px;
  padding: 2.5px;
}

/* Hover på dator-bild/ruta */
.dator:hover {
  border-color: rgb(128, 0, 128);
}

/* Styling på sektionen där Kartan och Om oss är */
.karta-omoss {
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px 0;
  border-radius: 6px;
}
