/* GEMENSAMT SITE-WIDE */

/* Grundstyle för hela hemsidan */
body {
    margin: 0; /* Tar bort standardmarginal på webbläsaren */
    font-family: Verdana, sans-serif; /* Typsnitt för all text */
    color: black; /* Färg för all text */
}

/* Container (samma på alla sidor) skapar en "ruta" med max 980px bredd */
.container {
    max-width: 980px; /* Max 980px bredd */
    margin: 0 auto; /* Centrerar containers på sidan */
    padding: 16px; /* Padding inuti rutan */
    background-color: white; /* Vit bakgrund */
}

/* Header */
header {
    display: flex; /* Gör att loggan och namnet hamnar på samma rad */
    align-items: center;/* Centrerar logga och text vertikalt */
}

/* Loggan */
header img {
    width: 200px;
    height: auto;
}

/* Företagsnamn SPL Datorer */
header h1 {
    font-style: italic; 
    font-size: 32px;
    margin-left: 20px;  /* Marginal vänster */
}

/* Gemensam länk-hover */
a:hover {
    color: rgb(241, 105, 14);
}

/* Gemensam stil på produktbilderna*/
.dator {
    width: 100%; /*Fyller sin container */
    height: 400px; /* bilderna lika stora */
    object-fit: cover; /* Beskär bilden snygggt */
    border: 1px solid lightgrey; 
    border-radius: 5px;
    padding: 2.5px;
}

/* Hover på dator-bild/ruta */
.dator:hover {
    border-color: rgb(128, 0, 128);
}



/* MENY (main-menu) */

ul#menu {
    list-style-type: none;
    margin-top: 12px; /* Mellanrum ovanför */
    padding: 10px; /* Padding i rutan */
    display: flex;/* Gör att länkarna hamnar på samma rad */
    gap: 30px; /* Mellanrum mellan länkarna */
    font-size: large;
}

ul#menu>li {
    position: relative;
}

ul#menu a {
    text-decoration: none;
    color: black;
}

ul#menu>li>a {
    font-weight: bold;
}
/*Dropdown listan */
ul#menu> li> ul.dropdown {
    display: none; /*Dölj undermeny tills man hovrar */
    list-style-type: none;
    position: absolute; /* Lägger den "ovanpå" sidan */
    padding: 10px 10px;
    margin-top: 0;
    margin-left: 0;
    top: 100%; /*Precis under huvudlänken */
    left: 0; /* Startar vid vänsterkant av parent */
    background-color: white;
    font-size: medium;
    font-weight: normal;
}
/* Visar undermenyn när man hovrar på parent- li */
ul#menu>li:hover>ul.dropdown {
    display: block;
}

/* Länkar i undermenyn */
ul#menu>li>ul.dropdown a {
    font-weight: normal;
    font-size: small;
}
 /*Hover-färg på huvudlänk */
ul#menu>li>a:hover {
    color: rgb(241, 105, 14);
}

/*Hover-färg på undermenylänk */
ul#menu>li> ul.dropdown >li>a:hover {
    color: rgb(241, 105, 14);
}



/* STARTSIDA (index.html) */

/* Styling på sektionen där objektlistan är */
.objektlista {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px 0;
    border-radius: 6px;
}

/* Styling på listan */
.objektlista ul {
    list-style: none; /* Tar bort punkten */
    padding: 0;
    margin: 0;
}

/* Styling på sektionen där Kartan och Om oss är */
.karta-omoss {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px 0;
    border-radius: 6px;
}

/* Tabell för karta/om oss */
#tabell1 {
    width: 100%; /* Fyller bredden */
    border: 1px solid black;
    border-collapse: collapse; /*Snyggare ramar */
}

/* Gör att kartan och text får lika stor bredd */
#tabell1 td {
    width: 50%;
    vertical-align: top; /*Startar uppifrån */
}
/* Ramar plus padding i celler*/
#tabell1 th,
#tabell1 td {
    border: 1px solid black;
    padding: 15px;
}

/* Karta iframe */
#map {
    width: 100%; /*Fyller sin cell */
    height: 400px;
    border: 0;
}

.facebook-logo {
    width: 120px;
    height: auto;
}


/* KONTAKTSIDAN (kontkt.html) */
.teamet {
    display: flex; /*Tre kolumner bredvis varandra */
    justify-content: space-between; /*Lika mycket mellanrum */
    align-items: flex-start;/* Alla bärjar i samma höjd upptill */
    gap: 20px;
}

.person {
    flex: 1; /*lika breda kolumner */
}

.person img {
    width: 100%; /*bilden fyller hela bredden av kolumnen */
    height: auto;
}

/* Håller form och aside bredvid varandra */
.kontakt {
    display: flex; /* Form och aside hamnar på samma rad */
    gap:40px;
    align-items: flex-start; /* Brjar i samma höjd upptill */
}

/* Kontaktformulrä */
form {
    flex: 1;
    margin: 0; /*vänsterjusterat */
    margin-bottom: 25px;
    border: 1px solid black;
    padding: 20px;
}

form p {
    margin-bottom: 15px; /*Mellanrum mellan varje fält */
}

/*Styling på labeln */
form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}
 /*Styling på skicka-knappen */
form input[type="submit"] {
    background-color: rgb(241, 105, 14);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
}

/* Hover på skicka-knapp */
form input[type="submit"]:hover {
    background-color: rgb(128, 0, 128);
}

/*Aside */
aside {
    width:500px;
}