/* GEMENSAMT SITE-WIDE */

/* Grundstyle för hela hemsidan */
body {
    margin: 0; /* Tar bort standardmarginal på webbläsaren */
    font-family: Verdana, sans-serif; /* Typsnitt för all text */
    color: black; /* Färg för all text */
}

/* Container (samma på alla sidor) skapar en "ruta" med max 980px bredd */
.container {
    max-width: 980px; /* Max 980px bredd */
    margin: 0 auto; /* Centrerar containers på sidan */
    padding: 16px; /* Padding inuti rutan */
    background-color: white; /* Vit bakgrund */
}

/* Header */
header {
    display: flex; /* Gör att loggan och namnet hamnar på samma rad */
    align-items: center;/* Centrerar logga och text vertikalt */
}

/* Loggan */
header img {
    width: 200px;
    height: auto;
}

/* Namnet SPL Datorer */
header h1 {
    font-style: italic; 
    font-size: 32px;
    margin-left: 20px;  /* Marginal vänster */
}

/* Gemensam länk-hover */
a:hover {
    color: rgb(241, 105, 14);
}

/* Gemensam stil på produktbilderna*/
.dator {
    width: 100%;
    height: 400px; /* bilderna lika stora */
    object-fit: cover;
    border: 1px solid lightgrey; 
    border-radius: 5px;
    padding: 2.5px;
}

/* Hover på dator-bild/ruta */
.dator:hover {
    border-color: rgb(128, 0, 128);
}



/* MENY (main-menu) */

ul.main-menu {
    list-style-type: none;
    margin-top: 12px; /* Mellanrum ovanför */
    padding: 10px; /* Padding i rutan */
    display: flex;/* Gör att länkarna hamnar på samma rad */
    gap: 30px; /* Mellanrum mellan länkarna */
    font-size: large;
}

ul.main-menu>li {
    position: relative;
}

ul.main-menu a {
    text-decoration: none;
    color: black;
}

ul.main-menu>li>a {
    font-weight: bold;
}

ul.main-menu>li>ul {
    display: none;
    list-style-type: none;
    position: absolute;
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    top: 100%;
    left: 0;
    background-color: white;
    font-size: medium;
    font-weight: normal;
}

ul.main-menu>li:hover>ul {
    display: block;
}

ul.main-menu>li>ul a {
    font-weight: normal;
    font-size: small;
}

ul.main-menu>li>a:hover {
    color: rgb(241, 105, 14);
}

ul.main-menu>li>ul>li>a:hover {
    color: rgb(241, 105, 14);
}



/* STARTSIDA (index.html) */

/* Styling på sektionen där objektlistan är */
.objektlista {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px 0;
    border-radius: 6px;
}

/* Styling på listan */
.objektlista ul {
    list-style: none;
    /* Tar bort punkten */
    padding: 0;
    margin: 0;
}

/* Styling på sektionen där Kartan och Om oss är */
.karta-omoss {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px 0;
    border-radius: 6px;
}

/* Tabell för karta/om oss */
#tabell1 {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
#tabell1 td {
    width: 50%;
    vertical-align: top;
}
/* Gör så att celler också får ramar */
#tabell1 th,
#tabell1 td {
    border: 1px solid black;
    padding: 15px;
}

/* Karta iframe */
#map {
    width: 100%;
    height: 400px;
    border: 0;
}

.facebook-logo {
    width: 120px;
    height: auto;
}

/* KONTAKTSIDAN (kontkt.html) */
.teamet {
    display: flex;
    justify-content: space-between; /*Lika mycket mellanrum */
    align-items: flex-start;/* Alla bärjar i samma höjd upptill */
    gap: 20px;
}

.person {
    flex: 1; /*lika breda kolumner */
}

.person img {
    width: 100%; /*bilden fyller hela bredden av kolumnen */
    height: auto;
}

/* Håller form och aside bredvid varandra */
.kontakt {
    display: flex;
    gap:40px;
    align-items: flex-start;
}

/* Kontaktformulrä */
form {
    flex: 1;
    max-width: 500px;
    margin: 0;
    margin-bottom: 25px;
    border: 1px solid black;
    padding: 20px;
}

form p {
    margin-bottom: 15px;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}

form input[type="submit"] {
    background-color: rgb(241, 105, 14);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: rgb(128, 0, 128);
}

/*Aside */
aside {
    width:500px;
}